.clients {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.clients__item {
  width: calc((100% - 30px) / 2);

  @media screen and (min-width: 768px) {
    width: calc((100% - 90px) / 3);
  }
  @media screen and (min-width: 1200px) {
    width: calc((100% - 150px) / 6);
  }
}

.clients__img-cover {
  display: flex;
  justify-content: center;
  padding-top: 16px;
  padding-bottom: 16px;
  border: 1px solid $icons-grey;
  border-radius: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .clients__item:hover &,
  .clients__link:focus & {
    border: 1px solid $blue;
  }
}

.clients__img {
  fill: $icons-grey;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .clients__item:hover &,
  .clients__link:focus & {
    fill: $blue;
  }
}