.tech-skills {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.tech-skills__img-cover {
  border-radius: 4px;
  background: $light-grey;
  padding: 25px;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
}

.tech-skills__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.tech-skills__text {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: $grey;
}

.tech-skills__item {
  @include tablet {
    width: calc((100% - 30px) / 2);
  }
  @include desktop {
    width: calc((100% - 90px) / 4);
  }
}

