.logo {
  //margin-right: 93px;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: $solid-black;

  &__blue-part {
    color: $blue;
  }

  &--white{
    line-height: 0.8;
    color: $white;
  }
}

