.footer__mailing-form-wrapper {
  //width: 100%;

  @include desktop {
    margin-left: auto;
  }
}

.mailing-form {
  display: flex;
  flex-direction: column;
  align-items: center;

  @include desktop {
    display: flex;
    flex-direction: row;
    align-items: baseline;
  }

  &__input {
    padding: 15px;
    min-width: 300px;
    width: 100%;
    margin-bottom: 20px;

    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background-color: transparent;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;
    color: $opacity-grey;

    @include mobile {
      width: 450px;
    }
    @include desktop {
      width: 358px;
      margin-right: 12px;
    }
  }
}

