.contacts {
  display: flex;
  flex-direction: column;

  @include tablet {
    flex-direction: column-reverse;
  }

  @include desktop {
    margin-left: auto;
    flex-direction: row-reverse;
    align-items: center;
  }
}

.contacts__link {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.2px;
  letter-spacing: 0.02em;
  color: $grey;

  @include tablet {
    font-size: 14px;
    line-height: 1.1;

    display: flex;
    align-items: center;
    justify-content: start;
  }

  &:focus, .contacts__item:hover & {
    color: $blue;
  }
}

.contacts__link--blue {
  color: $blue;
  font-size: 25px;

  @media screen and (min-width: 380px) {
    font-size: 34px;
    margin-bottom: 0;
  }

  @include tablet {
    font-size: 14px;
    color: $grey;
    margin-bottom: 0;
  }
}

.contacts__item {
  &:not(:last-child) {
    margin-bottom: 32px;

    @include tablet {
      margin-bottom: 0;
      margin-right: 0;
    }
  }

  &:not(:first-child) {
    @include tablet {
      margin-bottom: 10px;
    }
  }

  @include desktop {
    margin-right: 30px;
    &:not(:first-child) {
      @include tablet {
        margin-bottom: 0;
      }
    }
  }
}

.contacts__img {
  display: none;

  @include tablet {
    display: block;
    fill: $grey;
    margin-right: 10px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .contacts__item:hover &, .contacts__link:focus & {
    fill: $blue;
  }
}